################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/MME_Algorithm_Report_Sort_01/v16
/.vs/MME_Algorithm_Report_Sort/v16
/MME_Algorithm_Report_Sort_01/obj/Debug/MME_Algorithm_Report_Sort_01.csproj.CoreCompileInputs.cache
/MME_Algorithm_Report_Sort_01/obj/Release/MME_Algorithm_Report_Sort_01.csproj.CoreCompileInputs.cache
